.colorPrimary {
    background-color: lightskyblue;
}

.colorSecondary {
    background-color: #2c3e50;
}

.icon {
    padding-left: 7px;
}

.titleWhite {
    padding-bottom: 20px;
    font-weight: 700;
    color: white;
}

.titleLightskyBlue {
    padding-bottom: 20px;
    font-weight: 700;
    color: lightskyblue;
}

.jumbotron {
    margin-bottom: 0px;
}


.album {
    background-color: white;
}
footer {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;    
}

p {
    font-family:Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black !important;
}

html {
    scroll-behavior: smooth;
}

